<% if can? :edit, Task %>
<h1>Edit a Task</h1>

<%= render 'form' %>

<%= link_to 'Show', space_task_path(@space, @task) %> |
<%= link_to 'Back', space_tasks_path %>
<% else %>
<p>You must be an administrator to edit a task</p>
<% end %>