<div class="row">
	<div class="one centered half">
		<h2 class="padded">Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= f.input :email, wrapper_html: { class: "padded"} %>

  <div class="padded"><%= f.submit "Send password reset instructions" %></div>
<% end %>

<p class="padded"><%= render "devise/shared/links" %></p>
	</div>
</div>